html,
body,
div#__next {
  min-height: 100vh;
}

html,
body {
  font-size: 14px;
  overflow-x: hidden;
  position: relative;
}

h1 {
  @apply mb-4 text-4xl;
}

h2 {
  @apply mb-3 text-3xl;
}

h3 {
  @apply mb-2 text-2xl;
}

h4 {
  @apply mb-2 text-xl;
}

h5 {
  @apply mb-1 text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply font-semibold;
}

a:hover {
  @apply underline;
}

p {
  @apply pb-4 leading-relaxed;
}

.flex-center {
  @apply flex items-center justify-center;
}
